footer {
  height: 10vh;
  background-color: rgb(58, 58, 58);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  color: #ccc;
}

footer #footer-logo {
  font-size: 20px;
  font-family: "Caveat", cursive;
  display: inline;
}

footer .contacts {
  font-size: 20px;
}

footer .contacts .social-logos {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 5px;
}

.social-logos .logo {
  width: 20px;
  height: 20px;
  fill: rgb(153, 126, 76);
}

.social-logos .logo:hover {
  fill: white;
}
